.checkbox {
   position: relative;
   &:not(:last-child) {
      margin-bottom: em(5);
   }
   // .checkbox__input
   &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:focus + .checkbox__label:after {
         // transform: scale(2.5);
      }
      &:checked + .checkbox__label:after {
         transform: scale(2.5);
      }
   }
   // .checkbox__label
   &__label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 10px;
      &::after {
         content: "";
         min-width: 6px;
         transition: transform 0.3s ease 0s;
         min-height: 6px;
         background: #64d370;
         position: absolute;
         left: 10px;
         top: 10px;
         border-radius: 50%;
         align-self: flex-start;
      }
      &:before {
         border-radius: 50%;
         content: "";
         align-self: flex-start;
         flex: 0 0 26px;
         width: 26px;
         height: 26px;
         background: #dee6ee;

         // border: 1px solid #a7a9ac;
      }
   }
   // .checkbox__text
   &__text {
   }
}
