//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.input {
   border-radius: 190px;
   width: 100%;
   font-family: Montserrat;
   font-size: 16px;
   line-height: 133.8%;
   letter-spacing: 0.025em;
   color: #020202;
   display: block;
   padding: 0px 20px;
   padding: 10px 20px;
   background: #dee6ee;
   transition: all 0.3s ease 0s;

   border: 1px solid #dee6ee;
   outline: none;
   &:hover {
      border: 1px solid #64d370;
   }
   &._form-focus {
      border: 1px solid #64d370;
      
   }
   &._error {
   }
}
textarea.input {
   resize: none;
   padding: 0px 0px;
}
