// Заголовки, общие БЄМ блоки и проче...

.button {
   background: #64d370;
   box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
   border-radius: 190px;
   font-family: Comfortaa;
   font-weight: bold;
   font-size: rem(26);
   @include adaptiveValue("font-size", 26, 14);
   line-height: 133.8%;
   text-align: center;
   white-space: nowrap;
   display: inline-flex;
   justify-content:center;
   align-items: center;
   border: 3px solid #64d370;
   letter-spacing: 0.025em;
   transition: all 0.3s ease 0s;
   padding: rem(11) rem(65);
   @include adaptiveValue("padding-left", 65, 29);
   @include adaptiveValue("padding-right", 65, 29);
   @include adaptiveValue("padding-top", 11, 7);
   @include adaptiveValue("padding-bottom", 11, 7);
   color: #f5faff;
   @media (any-hover: hover) {
      &:hover {
         color: #64d370;
         border: 3px solid #64d370;
         background: transparent;
      }
   }
}

.rotate {
   transform: rotate(-30deg);
}
//========================================================================================================================================================

@-webkit-keyframes rotate-center {
   0% {
     -webkit-transform: rotate(0);
             transform: rotate(0);
   }
   100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }
 @keyframes rotate-center {
   0% {
     -webkit-transform: rotate(0);
             transform: rotate(0);
   }
   100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }

 //========================================================================================================================================================
 @-webkit-keyframes swing-out-bottom-bck {
   0% {
     -webkit-transform: rotateX(0);
             transform: rotateX(0);
     -webkit-transform-origin: bottom;
             transform-origin: bottom;
     opacity: 1;
   }
   100% {
     -webkit-transform: rotateX(100deg);
             transform: rotateX(100deg);
     -webkit-transform-origin: bottom;
             transform-origin: bottom;
     opacity: 0;
   }
 }
 @keyframes swing-out-bottom-bck {
   0% {
     -webkit-transform: rotateX(0);
             transform: rotateX(0);
     -webkit-transform-origin: bottom;
             transform-origin: bottom;
     opacity: 1;
   }
   100% {
     -webkit-transform: rotateX(100deg);
             transform: rotateX(100deg);
     -webkit-transform-origin: bottom;
             transform-origin: bottom;
     opacity: 0;
   }
 }

 //========================================================================================================================================================
 @-webkit-keyframes wobble-hor-bottom {
   0%,
   100% {
     -webkit-transform: translateX(0%);
             transform: translateX(0%);
     -webkit-transform-origin: 50% 50%;
             transform-origin: 50% 50%;
   }
   3% {
     -webkit-transform: translateX(-30px) rotate(-6deg);
             transform: translateX(-30px) rotate(-6deg);
   }
   6% {
     -webkit-transform: translateX(15px) rotate(6deg);
             transform: translateX(15px) rotate(6deg);
   }
   9% {
     -webkit-transform: translateX(-15px) rotate(-3.6deg);
             transform: translateX(-15px) rotate(-3.6deg);
   }
   12% {
     -webkit-transform: translateX(9px) rotate(2.4deg);
             transform: translateX(9px) rotate(2.4deg);
   }
   15% {
     -webkit-transform: translateX(0%) rotate(0deg);
             transform: translateX(0%) rotate(0deg);
   }
 }
 @keyframes wobble-hor-bottom {
   0%,
   100% {
     -webkit-transform: translateX(0%);
             transform: translateX(0%);
     -webkit-transform-origin: 50% 50%;
             transform-origin: 50% 50%;
   }
   3% {
     -webkit-transform: translateX(-30px) rotate(-6deg);
             transform: translateX(-30px) rotate(-6deg);
   }
   6% {
     -webkit-transform: translateX(15px) rotate(6deg);
             transform: translateX(15px) rotate(6deg);
   }
   9% {
     -webkit-transform: translateX(-15px) rotate(-3.6deg);
             transform: translateX(-15px) rotate(-3.6deg);
   }
   12% {
     -webkit-transform: translateX(9px) rotate(2.4deg);
             transform: translateX(9px) rotate(2.4deg);
   }
   15% {
     -webkit-transform: translateX(0%) rotate(0);
             transform: translateX(0%) rotate(0);
   }
 }
