//====================================================================================================

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

//========================================================================================================================================================

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   // .header__container

   &__container {
      display: flex;
      align-items: center;
      min-height: 175px;
      position: relative;
      flex-direction: column;
   }

   // .header__rows

   &__rows {
      display: flex;
      // width: 100%;
      justify-content: space-between;
      padding: rem(52) rem(0) rem(20) rem(0);
   }

   // .header__row

   &__row {
      flex: 1 1 auto;
   }

   // .header__links

   &__links {
   }

   // .header__logo

   &__logo {
      position: absolute;
      top: -47px;
      left: -40px;
      // top: 0;
      // left: 0;
      // transform: translate(-50%, -50%);
      width: 264px;
      height: 264px;
      @include adaptiveValue("height", 264, 139);
      @include adaptiveValue("width", 264, 139);
      border-radius: 50%;
      background-color: #f5faff;
      display: flex;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
         transition: transform 0.3s ease 0s;
      }
      span {
         font-family: Comfortaa;
         font-size: 14px;
         line-height: 115.8%;
         color: #020202;
      }
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.05);
            }
         }
      }
   }

   // .header__menu

   &__menu {
   }

   // .header__phone

   &__phone {
      flex: 0 1 rem(280);
      font-weight: bold;
      margin: rem(0) rem(0) rem(0) rem(20);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: math.div(24, 20);
      color: #64d370;
      white-space: nowrap;
      border: 3px solid #f5faff;
      background: #f5faff;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      border-radius: 190px;
      transition: all 0.3s ease 0s;
      padding: rem(13) rem(30);

      @media (any-hover: hover) {
         &:hover {
            color: #f5faff;
            background: transparent;
            border: 3px solid #f5faff;
         }
      }
   }

   // .header__language

   &__language {
      display: flex;
      width: 100%;
      padding: rem(0) rem(0) rem(0) rem(264);
   }
}
.menu {
   background: #f5faff;
   box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
   border-radius: 190px;
   @extend %ic;
   position: relative;

   @media (max-width: $tablet) {
      min-height: 56px;
      &::before {
         content: "\e905";
         font-size: rem(27);
         width: 90px;
         height: 90px;
         display: flex;
         border-radius: 50%;
         color: #64D370;
         justify-content:center;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         align-items: center;
         background: #f5faff;
         box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      }
   }
   // .menu__header

   &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: rem(16) rem(0);
      padding-top: 16px;
      padding-bottom: 16px;
      @include adaptiveValue("padding-left", 233, 150);
      @include adaptiveValue("padding-right", 40, 20);
      @media (max-width: $pc) {
         padding-top: 5px;
         padding-bottom: 5px;
      }
   }

   // .menu__list

   &__list {
   }

   // .menu__item

   &__item {
      padding: rem(5) rem(10);
   }

   // .menu__link

   &__link {
      line-height: 133.8%;
      white-space: nowrap;
      color: #020202;
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: #64d370;
         }
      }
   }

   // .menu__body

   &__body {
   }

   // .menu__icon

   &__icon {
   }
}
