//====================================================================================================

//====================================================================================================

//Burger
.burger {
   display: none;
   @media (max-width: $tablet) {
      background-color: #f5faff;
      width: 90px;
      height: 90px;
      @include adaptiveValue("width", 90, 64);
      @include adaptiveValue("height", 90, 64);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      align-items: center;
      position: absolute;
      z-index: 22;
      left: 90%;
      top: 50%;
      transform: translate(-50%, -50%);

      // .burger__menu

      &__menu {
         position: fixed;
         width: 100%;
         height: 100%;
         // top: 0;
         // left: -100%;
         top: -100%;
         left: 0;


         transition: all 0.3s ease 0s;
         z-index: 15;
         display: flex;
         flex-direction: column;
         color: #2b2b2b;
         &::after {
            content: "";
            display: block;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.55;
            transform: translate(0, 100%);
            z-index: -1;
         }
         .menu-open & {
            top: 0;
            // &::before {
            //    top: 0;
            // }
         }
      }

      // .burger__content

      &__content {
         background-color: #fff;
         position: absolute;
         width: 100%;
         height: 79%;
         padding: rem(100) rem(45) rem(50) rem(45);
         overflow: auto;
         left: 0;
         top: 0;
         border-radius: 0px 0px 50px 50px;
      }

      // .burger__body

      &__body {
         display: flex;
         width: 100%;
         flex-direction: row-reverse;
         overflow: auto;
         &:not(:last-child) {
            margin-bottom: rem(42);
         }
      }

      // .burger__phone

      &__phone {
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
         white-space: nowrap;
         a {
            justify-content: center;
            font-weight: bold;
            align-items: center;
            display: inline-flex;
            // width: 100%;
            min-height: 46px;
            line-height: math.div(18, 18);
            color: #f5faff;
            white-space: nowrap;
            background: #64d370;
            box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
            border-radius: 190px;
            transition: all 0.3s ease 0s;
            padding: rem(12) rem(41);
            font-weight: bold;
            font-size: 18px;
            color: #f5faff;
         }
      }

      // .burger__icon

      &__icon {
         display: block;
         position: relative;
         width: rem(25);
         height: rem(20);
         cursor: pointer;
         z-index: 20;
         span,
         &::before,
         &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            border-radius: 2px;
            width: 100%;
            height: rem(4);
            background-color: #020202;
         }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }
         span {
            top: calc(50% - rem(2));
            width: 20px;
         }
         .menu-open & {
            span {
               width: 0;
            }
            &::before,
            &::after {
            }
            &::before {
               top: calc(50% - rem(2));
               transform: rotate(-45deg);
            }
            &::after {
               bottom: calc(50% - rem(2));
               transform: rotate(45deg);
            }
         }
      }
   }
}

//========================================================================================================================================================

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 20;

   &._header-scroll {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      position: fixed;
      top: -150%;
      left: 0;
      width: 100%;
      z-index: 50;
      background: #fff;
   }

   &._header-show {
      transition: all 0.3s ease 0s;

      top: 0;
   }
   // .header__container

   &__container {
      display: flex;
      align-items: center;
      min-height: 175px;
      position: relative;
      flex-direction: column;
   }

   // .header__rows

   &__rows {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: rem(52) rem(0) rem(20) rem(50);
      @include adaptiveValue("padding-top", 52, 34);
      @media (max-width: em(1400)) {
         // padding: rem(52) rem(20) rem(20) rem(20);
      }
   }

   // .header__row

   &__row {
      flex: 1 1 auto;
      min-height: 52px;
      // display: flex;
      // align-items: center;
   }

   // .header__links

   &__links {
      // height: 100%;
      // width: 100%;

      flex: 1 1 auto;
   }

   // .header__logo

   &__logo {
      position: absolute;
      // top: -47px;
      // left: -40px;
      top: -110px;
      left: -90px;
      width: 264px;
      height: 264px;
      z-index: 5;
      @include adaptiveValue("height", 264, 139);
      @include adaptiveValue("width", 264, 139);
      border-radius: 50%;
      background-color: #f5faff;
      display: flex;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: em(1300)) {
         @include adaptiveValue("top", -110, -42);
         left: -61px;
      }
      img {
         transition: transform 0.3s ease 0s;
         max-width: 100%;
         max-height: 100%;
      }
      span {
         font-family: Comfortaa;
         font-size: 14px;
         @include adaptiveValue("font-size", 14, 8);
         line-height: 115.8%;
         color: #020202;
      }
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.05);
            }
         }
      }
   }

   // .header__menu

   &__menu {
   }

   // .header__phone

   &__phone {
      flex: 0 1 rem(280);
      @include adaptiveValue("flex-shrink", 280, 150, 1920, 991.98, 1);
      font-weight: bold;
      margin: rem(0) rem(0) rem(0) rem(20);
      @include adaptiveValue("margin-left", 20, 10, 1992, 991.98, 1);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      line-height: math.div(24, 20);
      color: #64d370;
      white-space: nowrap;
      border: 3px solid #f5faff;
      background: #f5faff;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
      border-radius: 190px;
      transition: all 0.3s ease 0s;
      padding: rem(5) rem(10);

      @media (any-hover: hover) {
         &:hover {
            color: #f5faff;
            background: transparent;
            border: 3px solid #f5faff;
         }
      }
      &::before {
         display: none;
      }

      @media (max-width: $tablet) {
         padding: 0;
         margin: 0;
         border: none;
         span {
            display: none;
         }
         &::before {
            font-size: rem(27);
            width: 90px;
            height: 90px;
            @include adaptiveValue("width", 90, 64);
            @include adaptiveValue("height", 90, 64);
            display: flex;
            border-radius: 50%;
            color: #64d370;
            justify-content: center;
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            background: #f5faff;
            box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
         }
      }
   }

   // .header__language

   &__language {
      display: flex;
      width: 100%;
      padding: rem(0) rem(0) rem(0) rem(264);
      @media (max-width: $tablet) {
         flex: 0 1 50%;
         padding: rem(50) rem(20) rem(0) rem(10);
         justify-content: end;
      }
   }
}
.menu {
   background: #f5faff;
   padding: rem(0) rem(0) rem(0) rem(200);
   box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
   border-radius: 190px;
   position: relative;
   @media (max-width: $tablet) {
      min-height: 52px;
   }

   // .menu__header

   &__header {
      @include adaptiveValue("padding-right", 40, 20);
      @media (max-width: $tablet) {
         text-align: right;
         // position: relative;
      }
   }

   // .menu__list

   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: rem(12) rem(0) rem(18);
      @media (max-width: $tablet) {
         flex-direction: column;
         align-items: start;
         flex: 0 1 50%;
         padding: rem(0) rem(10);
      }
   }

   // .menu__item

   &__item {
      padding: rem(0) rem(5);
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(21);
         }
      }
   }

   // .menu__link

   &__link {
      line-height: 133.8%;
      white-space: nowrap;
      color: #020202;
      font-size: 14px;
      @include adaptiveValue("font-size", 14, 8);
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: #64d370;
         }
      }
      @media (max-width: $tablet) {
         font-family: Comfortaa;
         font-weight: bold;
         font-size: 16px;
         line-height: 133.8%;
         text-align: center;
         color: #020202;
      }
   }

   // .menu__body

   &__body {
   }
}
