//====================================================================================================

.mainslider {
   padding: rem(220) rem(0) rem(0) rem(0);
   position: relative;
   &::before {
      content: "";
      width: 1294px;
      height: 1294px;
      @include adaptiveValue("width", 1294, 518, 1920, 320, 1);
      @include adaptiveValue("height", 1294, 518, 1920, 320, 1);
      border-radius: 50%;
      background-color: #64d370;
      position: absolute;
      z-index: 3;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
      top: -100px;
      // right: -450px;
      left: 56%;
      // right: -44%;
      transform: rotate(-19deg);
   }

   // .mainslider__aside

   &__aside {
   }

   // .mainslider__container

   &__container {
   }

   // .mainslider__slider

   &__slider {
      position: relative;
      z-index: 2;
      // width: 50%;
      &::before {
         content: "";
         background-color: #f5faff;
         width: 267px;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         z-index: 10;
      }
      position: relative;
      // z-index: 10;
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider__wrapper

   &__wrapper {
   }
   // .mainslider__social

   &__social {
   }
   // .mainslider__slide

   &__slide {
   }

   // .mainslider__nav

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
   }

   // .mainslider__pagination

   &__pagination {
      display: flex;
      align-items: center;
      text-align: center;
      position: static;
      height: 40px;
      justify-content: center;
      cursor: pointer;
      z-index: 12;
      & > .swiper-pagination-bullet {
         width: 20px;
         display: inline-block;
         background: #f5fafe;
         border: 3px solid #64d370;
         height: 20px;
         // overflow: hidden;
         position: relative;
         border-radius: 50%;
         transition: all 0.2s ease 0s;
         &::before {
            content: "";
            position: absolute;
            left: -3px;
            -webkit-animation: rotate-center 5s linear infinite both;
            animation: rotate-center 5s linear infinite both;
            clip-path: polygon(22% 0, 51% 46%, 100% 17%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 14%);
            width: 124%;
            height: 124%;
            // width: 28px;
            // height: 28px;
            opacity: 0;
            top: -3px;
            border-radius: 50%;
            border: 3px solid #64d370;
         }
         &:not(:last-child) {
            margin-right: rem(13);
         }
         @media (any-hover: hover) {
            &:hover {
               -webkit-box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
               -moz-box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
               box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
            }
         }
         &.swiper-pagination-bullet-active {
            width: 28px;
            height: 28px;
            border: 3px solid #dee6ee;
            background: #f5fafe;
            position: relative;
            &::before {
               opacity: 1;
            }
         }
      }
   }
}
.aside-mainslider {
   position: absolute;
   top: 220px;
   z-index: 12;
   left: 50px;
   // .aside-mainslider__items

   &__items {
      display: flex;
      flex-direction: column;
   }

   // .aside-mainslider__item

   &__item {
      background: #f5faff;
      box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
      width: 70px;
      height: 70px;
      border-radius: 190px;
      display: flex;
      transition: all 0.3s ease 0s;
      justify-content: center;
      align-items: center;
      position: relative;
      &:not(:last-child) {
         margin-bottom: rem(50);
      }
      div {
         flex: 1 1 auto;
         padding: rem(0) rem(0) rem(0) rem(20);
         &::before {
            font-size: rem(30);
         }
         &._icon-table {
            &::after {
               content: "5";
               position: absolute;
               left: 28px;
               font-family: Comfortaa;
               font-weight: bold;
               font-size: 20px;
               line-height: 138.5%;
               text-align: center;
               color: #020202;
               transition: color 0.3s ease 0s;
               top: 10px;
            }
            &::before {
               font-size: rem(17);
               position: relative;
               right: 5px;
               top: 15px;
            }
         }
      }
      span {
         display: block;
         white-space: nowrap;
         padding: rem(0) rem(15) rem(0) rem(0);
         justify-self: end;
         display: none;
         transition: all 0.3s ease 0s;
      }

      @media (any-hover: hover) {
         &:hover {
            div {
               padding: rem(0) rem(40) rem(0) rem(20);
            }
            width: auto;
            color: #64d370;
            ._icon-table {
               &::after {
                  color: #64d370;
               }
            }
            span {
               color: #64d370;
               display: block;
            }
            &::before {
               color: #64d370;
            }
         }
      }
      // .aside-mainslider__item_1

      &_1 {
         padding-left: 12px !important;
      }
   }
}

.slide-mainslider {
   // .slide-mainslider__content

   &__content {
      padding: rem(183) rem(0) rem(270) rem(0);
      margin: rem(0) rem(0) rem(0) rem(275);
      max-width: 580px;
      // position: relative;
      // z-index: 10;
   }

   // .slide-mainslider__title

   &__title {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 45px;
      letter-spacing: 0.025em;
      color: #020202;
      margin-bottom: rem(15);

      span {
         color: #64d370;
      }
   }

   // .slide-mainslider__text

   &__text {
      font-size: 20px;
      line-height: 133.8%;
      color: #020202;
      &:not(:last-child) {
         margin-bottom: rem(42);
      }
      span {
         color: #64d370;
      }
   }

   // .slide-mainslider__item

   &__item {
      display: flex;
      margin-top: 42px;
   }

   // .slide-mainslider__button

   &__button {
      position: relative;
      z-index: 20 !important;
      &:not(:last-child) {
         margin-right: rem(30);
      }
   }

   // .slide-mainslider__label

   &__label {
   }
}

.label-slide-mainslider {
   // .label-slide-mainslider__text

   &__text {
      font-size: 20px;
      line-height: 133.8%;
      color: #020202;
   }

   // .label-slide-mainslider__price

   &__price {
      font-weight: bold;
      font-size: 35px;
      line-height: 100%;
      color: #64d370;
   }
}
.mainslider-button {
   cursor: pointer;
   padding: rem(0) rem(36);
   @media (any-hover: hover) {
      &:hover {
         &::before {
            background: #64d370;
            color: #fff;
         }
      }
   }
   &::before {
      color: #64d370;
      font-size: rem(20);
      border-radius: 50%;
      padding: 20px;
      background: transparent;
      display: flex;
      display: flex;
      transition: all 0.3s ease 0s;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
   }
   // .mainslider-button__prev

   &__prev {
   }

   // .mainslider-button__next

   &__next {
      transform: rotate(-180deg);
   }
}

//====================================================================================================

.mainslider-image {
   // .mainslider-image__slider

   &__slider {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 5;
      right: 50px;
      top: 190px;
      opacity: 0.99;
      width: 70%;
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider-image__wrapper

   &__wrapper {
   }

   // .mainslider-image__slide

   &__slide {
   }
}

.slide-mainslider {
   // .slide-mainslider__photo

   &__photo {
      width: rem(700);
      border: 40px solid #f5faff;
      height: rem(700);
      @include adaptiveValue("width", 700, 127, 1920, 320, 1);
      @include adaptiveValue("height", 700, 127, 1920, 320, 1);
      position: absolute;
      right: 28px;
      top: 0;
      border-radius: 50%;
      z-index: 10;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(86, 86, 86, 0.3);
   }

   // .slide-mainslider__image-ibg

   &__image-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-position: top;
      }
   }
}
//========================================================================================================================================================

.social-mainslider {
   position: absolute;
   bottom: 0px;
   z-index: 12;
   right: 20px;
   padding: 80px;

   // .social-mainslider__body

   &__body {
      position: relative;
   }

   // .social-mainslider__clue

   &__clue {
      position: absolute;
      top: -79px;
      left: -120px;
      background-color: #fff;
      border-radius: 1.5em;
      font-size: 12px;
      z-index: 10;
      white-space: nowrap;
      line-height: 133.8%;
      padding: rem(12) rem(19);
      -webkit-animation: wobble-hor-bottom 6s 3s infinite both;
      animation: wobble-hor-bottom 6s 3s infinite both;
      &::after {
         content: "";
         bottom: -15px;
         position: absolute;
         right: 33px;
         width: 0;
         height: 0;
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-top: 20px solid #fff;
      }
      span {
         color: #64d370;
      }
      &._hidden {
         -webkit-animation: swing-out-bottom-bck 0.85s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
         animation: swing-out-bottom-bck 0.85s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
      }
      &._dnone {
         display: none;
      }
   }

   // .social-mainslider__icon-message

   &__icon-message {
      width: 80px;
      height: 80px;
      display: flex;
      background: #f5faff;
      box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
      justify-content: center;
      border-radius: 50%;
      align-items: center;
      position: relative;
      cursor: pointer;
      span {
         position: absolute;
         right: 0;
         opacity: 1;
         transition: opacity 0.3s ease 0s;

         top: 0;
         width: 25px;
         height: 25px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: bold;
         font-size: 12px;
         line-height: 133.8%;
         color: #f5faff;
         background: #020202;
         border-radius: 50%;
      }
      &::before {
         font-size: rem(37);
      }
      &._active {
         span {
            opacity: 0;
         }
         &::before {
            content: "\e908";
            @extend %ic;
         }
      }
   }

   // .social-mainslider__item

   &__item {
      position: absolute;
      width: 40px;
      height: 40px;
      background: #020202;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all 0.3s ease 0s;

      &::before {
         font-size: rem(20);
         color: #fff;
      }
      &._icon-telegram {
         left: -32px;
         bottom: -39px;
      }
      &._icon-viber {
         left: 20px;
         bottom: -60px;
      }
      @media (any-hover: hover) {
         &:hover {
            background: #fff;

            &::before {
               color: #64d370;
            }
         }
      }
   }

   // .social-mainslider__chatting

   &__chatting {
   }
}

.chatting-social-mainslider {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   left: -150px;
   top: 13px;
   transition: all 0.3s ease 0s;
   background: #f5faff;
   box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
   border-radius: 190px;
   display: flex;
   padding: rem(11) rem(15);
   &._active {
      opacity: 1;
      visibility: visible;
   }
   // .chatting-social-mainslider__item

   &__item {
      width: 40px;
      height: 40px;
      background: #020202;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;

      border-radius: 50%;
      &:not(:last-child) {
         margin-right: rem(15);
      }
      &::before {
         font-size: rem(20);
         color: #fff;
      }
      @media (any-hover: hover) {
         &:hover {
            background: #64d370;
         }
      }
   }
}
