//====================================================================================================

.mainslider {
   padding: rem(220) rem(0) rem(0) rem(0);
   @include adaptiveValue("padding-top", 220, 100);
   position: relative;
   &::before {
      content: "";
      width: 1294px;
      height: 1294px;
      @include adaptiveValue("width", 1294, 550, 1920, 320, 1);
      @include adaptiveValue("height", 1294, 550, 1920, 320, 1);
      border-radius: 50%;
      background-color: #64d370;
      position: absolute;
      z-index: 3;
      box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
      top: -100px;
      // right: -450px;
      left: 56%;
      // right: -44%;
      transform: rotate(-19deg);
      @media (max-width: $tablet) {
         left: 0%;

         top: -60%;
      }
   }

   // .mainslider__aside

   &__aside {
   }

   // .mainslider__container

   &__container {
   }

   // .mainslider__slider

   &__slider {
      position: relative;
      padding: rem(0) rem(20);
      margin: rem(0) rem(-20);
      z-index: 2;
      // width: 50%;
      &::before {
         content: "";
         background-color: #f5faff;
         width: 267px;
         @include adaptiveValue("width", 267, 1, 1600, 991, 1);
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         z-index: 10;
      }
      position: relative;
      // z-index: 10;
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider__wrapper

   &__wrapper {
   }
   // .mainslider__social

   &__social {
   }
   // .mainslider__slide

   &__slide {
   }

   // .mainslider__nav

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 30px;
      z-index: 10;
      @media (max-width: $mobileSmall) {
         justify-content: start;
      }
   }

   // .mainslider__pagination

   &__pagination {
      display: flex;
      align-items: center;
      text-align: center;
      position: static;
      height: 40px;
      justify-content: center;
      cursor: pointer;
      z-index: 12;

      & > .swiper-pagination-bullet {
         width: 20px;
         display: inline-block;
         background: #f5fafe;
         border: 3px solid #64d370;
         height: 20px;
         // overflow: hidden;
         position: relative;
         border-radius: 50%;
         transition: all 0.2s ease 0s;
         &::before {
            content: "";
            position: absolute;
            left: -3px;
            -webkit-animation: rotate-center 5s linear infinite both;
            animation: rotate-center 5s linear infinite both;
            clip-path: polygon(22% 0, 51% 46%, 100% 17%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 14%);
            width: 124%;
            height: 124%;
            // width: 28px;
            // height: 28px;
            opacity: 0;
            top: -3px;
            border-radius: 50%;
            border: 3px solid #64d370;
         }
         &:not(:last-child) {
            margin-right: rem(13);
         }
         @media (any-hover: hover) {
            &:hover {
               -webkit-box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
               -moz-box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
               box-shadow: 0px 0px 34px 5px rgba(100, 211, 112, 0.74);
            }
         }
         &.swiper-pagination-bullet-active {
            width: 28px;
            height: 28px;
            border: 3px solid #dee6ee;
            background: #f5fafe;
            position: relative;
            &::before {
               opacity: 1;
            }
         }
      }
   }
}
.aside-mainslider {
   position: absolute;
   top: 220px;
   z-index: 12;
   left: 50px;
   @media (max-width: $tablet) {
      display: none;
   }
   // .aside-mainslider__items

   &__items {
      display: flex;
      flex-direction: column;
   }

   // .aside-mainslider__item

   &__item {
      background: #f5faff;
      box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
      width: 70px;
      height: 70px;
      @include adaptiveValue("width", 70, 41, 1920, 991.98, 1);
      @include adaptiveValue("height", 70, 41, 1920, 991.98, 1);
      border-radius: 190px;
      display: flex;
      transition: all 0.3s ease 0s;
      justify-content: center;
      align-items: center;
      position: relative;

      &:not(:last-child) {
         margin-bottom: rem(50);
      }
      div {
         flex: 1 1 auto;
         @include adaptiveValue("padding-left", 20, 10, 1920, 991.98, 1);
         &::before {
            font-size: rem(30);
            @include adaptiveValue("font-size", 30, 15);
         }
         &._icon-meat {
            position: relative;
            right: 5px;
         }
         &._icon-table {
            &::after {
               content: "5";
               position: absolute;
               left: 28px;
               font-family: Comfortaa;
               font-weight: bold;
               font-size: 20px;
               @include adaptiveValue("font-size", 20, 12, 1920, 991.98, 1);
               @include adaptiveValue("left", 28, 17, 1920, 991.98, 1);
               line-height: 138.5%;
               text-align: center;
               color: #020202;
               transition: color 0.3s ease 0s;
               top: 10px;
            }
            &::before {
               font-size: rem(17);
               @include adaptiveValue("font-size", 17, 10, 1920, 991.98, 1);
               position: relative;
               right: 5px;
               @include adaptiveValue("right", 5, 0, 1920, 991.98, 1);
               top: 8px;
            }
         }
      }
      span {
         display: block;
         white-space: nowrap;
         padding: rem(0) rem(15) rem(0) rem(0);
         justify-self: end;
         display: none;
         transition: all 0.3s ease 0s;
      }

      @media (any-hover: hover) {
         &:hover {
            .aside-mainslider__item_1 {
               margin: rem(0) rem(50) rem(0) rem(-10);
            }
            div {
               margin: rem(0) rem(50) rem(0) rem(0);
            }
            width: auto;
            color: #64d370;
            ._icon-table {
               &::after {
                  color: #64d370;
               }
            }

            span {
               color: #64d370;
               display: block;
            }
            &::before {
               color: #64d370;
            }
         }
      }
      // .aside-mainslider__item_1

      &_1 {
         // padding-left: 12px !important;
         @include adaptiveValue("margin-left", -11, -5, 1920, 991.98, 1);
         @include adaptiveValue("font-size", 20, 12, 1920, 991.98, 1);
      }
   }
}

.slide-mainslider {
   // .slide-mainslider__content

   &__content {
      padding: rem(183) rem(0) rem(270) rem(0);
      margin: rem(0) rem(0) rem(0) rem(275);
      @include adaptiveValue("padding-top", 120, 0);
      @include adaptiveValue("padding-bottom", 270, 50, 1920, 991, 1);
      @include adaptiveValue("margin-left", 275, 130, 1600, 1255, 1);
      max-width: 580px;
      @include adaptiveValue("max-width", 580, 450, 1920, 991, 1);
      @media (max-width: $tablet) {
         padding-top: 220px;
         @include adaptiveValue("padding-top", 280, 180);
         margin-left: 50px;
      }
   }

   // .slide-mainslider__title

   &__title {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      @include adaptiveValue("font-size", 40, 16);
      line-height: 45px;
      line-height: math.div(45, 40);
      letter-spacing: 0.025em;
      color: #020202;
      margin-bottom: rem(15);

      span {
         color: #64d370;
      }
   }

   // .slide-mainslider__text

   &__text {
      font-size: 20px;
      @include adaptiveValue("font-size", 20, 10);
      line-height: 133.8%;
      color: #020202;
      &:not(:last-child) {
         margin-bottom: rem(42);
      }
      span {
         color: #64d370;
      }
   }

   // .slide-mainslider__item

   &__item {
      display: flex;
      margin-top: 42px;
      align-items: end;
      @include adaptiveValue("margin-top", 42, 10);
      @media (max-width: $pc) {
         flex-direction: column;
         align-items: start;
      }
   }

   // .slide-mainslider__button

   &__button {
      position: relative;
      display: block;
      &:not(:last-child) {
         margin: rem(0) rem(30) rem(0) rem(0);
      }
      @media (max-width: $pc) {
         &:not(:last-child) {
            margin: rem(0) rem(0) rem(30) rem(0);
         }
      }
   }

   // .slide-mainslider__label

   &__label {
   }
}

.label-slide-mainslider {
   // .label-slide-mainslider__text

   &__text {
      font-size: 20px;
      line-height: 133.8%;
      color: #020202;
      @include adaptiveValue("font-size", 20, 10);
   }

   // .label-slide-mainslider__price

   &__price {
      font-weight: bold;
      font-size: 35px;
      @include adaptiveValue("font-size", 35, 16);
      line-height: 100%;
      color: #64d370;
   }
}
.mainslider-button {
   cursor: pointer;
   padding: rem(0) rem(36);

   @media (any-hover: hover) {
      &:hover {
         &::before {
            background: #64d370;
            color: #fff;
         }
      }
   }
   &::before {
      color: #64d370;
      font-size: rem(20);
      border-radius: 50%;
      padding: 20px;
      background: transparent;
      display: flex;
      display: flex;
      transition: all 0.3s ease 0s;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
   }
   // .mainslider-button__prev

   &__prev {
   }

   // .mainslider-button__next

   &__next {
      transform: rotate(-180deg);
   }
}

//====================================================================================================

.mainslider-image {
   // .mainslider-image__slider

   &__slider {
      position: absolute;
      z-index: 5;
      height: auto;
      right: 50px;
      top: 190px;
      opacity: 0.99;
      width: 50%;
      @media (max-width: $tablet) {
         top: 17%;
         right: auto;
         left: 70%;
         transform: translate(-50%, -50%);
      }
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider-image__wrapper

   &__wrapper {
   }

   // .mainslider-image__slide

   &__slide {
   }
}

.slide-mainslider {
   // .slide-mainslider__photo

   &__photo {
      width: rem(700);
      border: 40px solid #f5faff;
      @include adaptiveValue("border-width", 40, 10);

      height: rem(700);
      @include adaptiveValue("width", 700, 170, 1920, 500, 1);
      @include adaptiveValue("height", 700, 170, 1920, 500, 1);
      position: absolute;
      right: 28px;
      top: 0;
      border-radius: 50%;
      z-index: 10;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(86, 86, 86, 0.3);
   }

   // .slide-mainslider__image-ibg

   &__image-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-position: top;
      }
   }
}
//========================================================================================================================================================


.reason {
   position: relative;
   &::before {
      content: "";
      width: 544.5px;
      height: 544.5px;
      background: rgba(38, 240, 58, 0.1);
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
      @media (max-width: $pc) {
         display: none;
      }
   }
   // .reason__container

   &__container {
   }

   // .reason__items

   &__items {
      background: rgba(245, 250, 255, 0.8);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 10;
      @media (max-width: $tablet) {
         flex-wrap: wrap;
      }
   }

   // .reason__item

   &__item {
      padding: rem(37) rem(10);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
      @media (max-width: $tablet) {
         flex: 0 1 33.333%;
      }
      @media (max-width: $mobile) {
         flex: 0 1 50%;
      }
   }

   // .reason__text

   &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      @include adaptiveValue("font-size", 12, 8);
   }
}

//========================================================================================================================================================

.dishes {
   background: #f5faff;
   position: relative;
   background-color: transparent;
   z-index: 5;
   // .dishes__slider

   // .dishes__title

   &__title {
      font-family: Comfortaa;
      font-weight: bold;
      line-height: math.div(33, 30);
      font-size: 30px;
      text-align: center;
      @include adaptiveValue("margin-bottom", 60, 30);
   }

   &__slider {
      &.swiper {
         overflow: visible;
      }
   }

   // .dishes__wrapper

   &__wrapper {
   }

   // .dishes__slide

   &__slide {
   }

   // .dishes__image-ibg

   &__image-ibg {
      padding: rem(0) rem(0) 142% rem(0);
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.05);
            }
         }
      }

      img {
         filter: drop-shadow(0px 0px 20px rgba(86, 86, 86, 0.5));
         border-radius: 30px;
         transition: transform 0.3s ease 0s;
      }
   }
}

//========================================================================================================================================================

.order {
   position: relative;
   z-index: 2;
   // .order__container

   &__container {
      display: flex;
      gap: rem(82);
      @include adaptiveValue("gap", 82, 50);
      @media (max-width: $tablet) {
         flex-direction: column;
         align-items: center;
      }
   }

   // .order__issue

   &__issue {
      flex: 0 1 35%;
   }

   // .order__questions

   &__questions {
   }
}
.issue-order {
   @media (max-width: $tablet) {
      max-width: 500px;
   }
   // .issue-order__title

   &__title {
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 30px;
      @include adaptiveValue("font-size", 30, 20);
      line-height: math.div(33, 30);
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(5);
      }
   }

   // .issue-order__title-subtext

   &__title-subtext {
      font-size: 16px;
      @include adaptiveValue("font-size", 16, 12);
      line-height: 133.8%;
      text-align: center;
      letter-spacing: 0.025em;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   // .issue-order__form

   &__form {
   }

   // .issue-order__item

   &__item {
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      &._form-send {
         &::after {
            content: "";
            position: absolute;
            right: 15px;
            top: 44px;
            background: #64d370;
            min-width: 14px;
            min-height: 14px;
            display: block;
            border-radius: 50%;
            z-index: 5;
         }
      }
      &._form-error {
         .form__error {
            position: relative;
            color: #ec5863;
            z-index: 5;
            font-size: 0;
            &::before {
               content: "";
               position: absolute;
               right: 15px;
               top: 44px;
               background: #f87676;
               min-width: 14px;
               min-height: 14px;
               display: block;
               border-radius: 50%;
               z-index: 5;
            }
         }
      }
   }

   // .issue-order__input-name

   &__input-name {
      margin: rem(0) rem(0) rem(30) rem(0);
      &._form-focus + .issue-order__label-name {
         color: #64d370;
      }
   }

   // .issue-order__input-phone

   &__input-phone {
      margin: rem(0) rem(0) rem(30) rem(0);
      &._form-focus + .issue-order__label-phone {
         color: #64d370;
      }
   }

   // .issue-order__label-name

   &__label-name {
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 18px;
      display: block;
      line-height: 133.8%;
      transition: all 0.3s ease 0s;
      letter-spacing: 0.025em;
      margin: rem(0) rem(0) rem(5) rem(0);
      &._hover {
         color: #64d370;
      }
   }

   // .issue-order__label-phone

   &__label-phone {
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 18px;
      display: block;
      transition: all 0.3s ease 0s;

      line-height: 133.8%;
      letter-spacing: 0.025em;
      margin: rem(0) rem(0) rem(5) rem(0);
   }

   // .issue-order__buttons

   &__buttons {
      text-align: center;
      div {
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
   }

   // .issue-order__button

   &__button {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
}

.issue-order-checkbox {
   // .issue-order-checkbox__checkbox

   &__checkbox {
      &._form-error {
         .form__error {
            color: red;
            position: relative;
            bottom: 10px;
            text-decoration: underline;
            font-size: rem(14);
         }
      }
   }

   // .issue-order-checkbox__input

   &__input {
   }

   // .issue-order-checkbox__label

   &__label {
      margin: rem(0) rem(0) rem(20) rem(0);
      &:last-child {
         margin: rem(0) rem(0) rem(32) rem(0);
      }
   }

   // .issue-order-checkbox__text

   &__text {
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 16px;
      line-height: 133.8%;
      letter-spacing: 0.025em;
      @media (max-width: $mobile) {
         font-size: rem(14);
      }
      a {
         color: #64d370;
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}

.questions-order {
   flex: 1 1 auto;
   // .questions-order__items

   // .questions-order__title

   &__title {
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 25px;
      @include adaptiveValue("font-size", 25, 20);
      line-height: math.div(28, 25);
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(35);
      }
   }

   &__items {
   }

   // .questions-order__item

   &__item {
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      background: #f5faff;
      display: block;
      box-shadow: 0px 0px 20px rgba(86, 86, 86, 0.2);
      border-radius: 190px;
      font-size: 16px;
      @include adaptiveValue("font-size", 16, 10);
      line-height: 133.8%;
      letter-spacing: 0.025em;
      padding: rem(10) rem(20);
      display: flex;
      transition: all 0.3s ease 0s;

      align-items: center;
      justify-content: space-between;
      &::after {
         content: "\e907";
         transform: rotateY(-180deg);
         @extend %ic;
         font-size: rem(16);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #64d370;
         }
      }
      &:active {
         color: #3d9646;
      }
   }
}
